@{
        ViewData["Title"] = "Collision Severity Predictor";
}

@model collisionPredictor


    <form method="post" asp-controller="Inference" asp-action="Score">

        <div><label class="font-weight-bold">When did the Crash Take Place?</label><br />
             <input asp-for="crash_datetime" type="date" textmode="DateTime" />
        </div>

        <div><label class="font-weight-bold">At what milepoint did the crash take place?</label><br />
            <input asp-for="milepoint" type="number"  step="0.1" value="0.0"/>
        </div>

        <div>
            <label class="font-weight-bold">Did the crash happen at an intersection?</label><br />
                <input asp-for="intersection_related" type="radio" id="intersection" value="0"  />
                <label for="intersection">No </label>
                <input asp-for="intersection_related" type="radio" id="intersection" value="1" />
                <label for="intersection">Yes</label>
        </div>

        <div>
            <label class="font-weight-bold">Was the driver a teenager?</label> <br />
            <input asp-for="teenage_driver_involved" type="radio" id="teen" value="0"  />
            <label for="teen">No </label>
            <input asp-for="teenage_driver_involved" type="radio" id="teen" value="1" />
            <label for="teen">Yes</label>
        </div>

        <div>
            <label class="font-weight-bold">Was it dark outside?</label><br />
            <input asp-for="night_dark_condition" type="radio" id="night" value="0"  />
            <label for="night">No</label>
            <input asp-for="night_dark_condition" type="radio" id="night" value="1" />
            <label for="night">Yes</label>
            <label></label>
        </div>

        <div>
            <label class="font-weight-bold">Was there one or more vehicles involved?</label><br />
            <input asp-for="single_vehicle" type="radio" id="single" value="0" />
            <label for="single">No</label> 
            <input asp-for="single_vehicle" type="radio" id="single" value="1" />
            <label for="single">Yes</label>
        </div>

        <div>
            <label class="font-weight-bold">Did the crash take place in Salt Lake County?</label><br />
            <input asp-for="county_name_SALT_LAKE" type="radio" id="county" value="0"/>
            <label for="county">No</label>
            <input asp-for="county_name_SALT_LAKE" type="radio" id="county" value="1"/>
            <label for="county">Yes</label>
        </div>


        <button type="submit" class="btn-danger">What would be the severity of my crash?</button>
    </form>

