@{
    ViewData["Title"] = "Collision Results";

    string crashLevel;

    if (Math.Round(Model.PredictedValue) == 1)
    { crashLevel = "no injury"; }
    else if (Math.Round(Model.PredictedValue) == 2)
    { crashLevel = "some injury"; }
    else if (Math.Round(Model.PredictedValue) == 3)
    { crashLevel = "minor injury"; }
    else if (Math.Round(Model.PredictedValue) == 4)
    { crashLevel = "serious injury"; }
    else { crashLevel = "a fatality"; }

}

@model Prediction

<h2>There was likely @crashLevel related to your accident.</h2>
<p>The severity of your collision is estimated to be a @Math.Round(Model.PredictedValue) </p>

<a class="btn btn-outline-warning btn-sm active" role="button" aria-pressed="true"  asp-controller="Inference" asp-action="EnterData">Return to Calculator</a>
<br />
<br />
<a class="btn btn-outline-info btn-sm active" role="button" aria-pressed="true" asp-controller="Home" asp-action="Index">Return Home</a>
