@{
}

@model Collision

<div class="container p-5 border">

    <div class="row"><h4>Filter Results</h4></div>

    <form method="post" asp-controller="Home" asp-action="Filter">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="CRASH_DATETIME">Date:</label>
                    <input asp-for="CRASH_DATETIME" type="date" class="form-control"/>
                </div>
                
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="CITY">City</label>
                    <select asp-for="CITY" class="form-control">
                        <option value=""></option>
                        @foreach (var c in ViewBag.Cities)
                        {
                            <option value="@c">@c</option>
                        }
                    </select>
                </div>
                
            </div>

        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="COUNTY_NAME">County</label>
                    <select asp-for="COUNTY_NAME" class="form-control">
                        <option value=""></option>
                        @foreach (var c in ViewBag.Counties)
                        {
                            <option value="@c">@c</option>
                        }
                    </select>
                </div>
                

            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="CRASH_SEVERITY_ID">Crash Severity</label>
                    <select asp-for="CRASH_SEVERITY_ID" class="form-control">
                        <option value=""></option>
                        <option value="1">No Injury</option>
                        <option value="2">Possible Injury</option>
                        <option value="3">Suspected Minor Injury</option>
                        <option value="4">Suspected Serious Injury</option>
                        <option value="5">Fatal</option>
                    </select>
                </div>
                
            </div>
        <br />
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Filter</button>
                <a class="btn btn-info" asp-controller="Home" asp-action="CollisionSummary">Clear Filter</a>
            </div>
        </div>
        </div>

    </form>


</div>