@{
    ViewData["Title"] = "Crash Analytics by City";
}

@model List<Stat>

<h1>Crash Statistics By City</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>City</th>
            <th>Number of Collisions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var c in Model)
            {
                <tr>
                    <td>@c.CityName</td>
                    <td>@c.numCrash</td>
                </tr>
            }
    </tbody>
</table>