@{
    ViewData["Title"] = "UCR Home";
}

@model List<Collision>

    <partial name="_CookieConsentPartial" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Please Work: 
    @*@foreach (var c in Model)
            {
                @c.CRASH_DATETIME
            }*@
    </h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CityAnalytics">City Analytics</a>

    <h1>Please work. Please.</h1>
    <p>@Environment.GetEnvironmentVariable("ebdb")</p>
</div>
