@page "/admin"
@*@using Microsoft.AspNetCore.Components.Web.Extensions.Head*@
@{ 
    ViewData["Title"] = "Admin Home Page New";
}
            
@using Microsoft.AspNetCore.Authorization 
@attribute [Authorize]

@{
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>

    <component type="typeof(Intex.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>

</html>